#headerlogo {
  max-width: 15%;
  height: auto;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.navbar a {
  color: inherit;
}

.navbar ul {
  padding: 0;
  margin:0;
  display:flex;
  list-style: none;
  gap: 2rem;
}

.contactHeader {
  font-weight: 600;
}
